In [5]:
from schema import *

s = Schema()

# Load up the CSVs
cardnum = pd.read_csv("./csv/bonuses/cardnum.csv").set_index("val_id")
person = pd.read_csv("./csv/bonuses/person.csv").set_index("cardnum")

# Insert them into the data frames
s.insert_dataframe(cardnum, "cardnum")
s.insert_dataframe(person, "person")

# Get handles on the nodes now in the schema - may be slightly ugly but
# we can slap on a load of syntactic sugar
c_cardnum = SchemaNode("cardnum", cluster="cardnum")
c_val_id = SchemaNode("val_id", cluster="cardnum")

p_cardnum = SchemaNode("cardnum", cluster="person")
p_person = SchemaNode("person", cluster="person")

s.blend(c_cardnum, p_cardnum, under="Cardnum")

Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.

In [2]:
cardnum

        cardnum
val_id
1          5172
2          2354
3          1410
4          1111
5          2354
8          4412

In [3]:
person

        person
cardnum
1111     Steve
1410       Tom
2354     Steve
6440     Harry
5467      Dick

In [4]:
from tables import *
table1 = s.get(['cardnum.val_id'])
print(table1)

[cardnum.val_id || ]
Empty DataFrame
Columns: []
Index: [1, 2, 3, 4, 5, 8]

In [5]:
table2 = table1.infer(['cardnum.val_id'], 'cardnum.cardnum')
print(table2)

[cardnum.val_id || cardnum.cardnum]
                cardnum.cardnum
cardnum.val_id
1                          5172
2                          2354
3                          1410
4                          1111
5                          2354
8                          4412

In [6]:
table3 = table2.infer(['cardnum.cardnum'], 'person.cardnum')
print(table3)

[cardnum.val_id || cardnum.cardnum person.cardnum]
                cardnum.cardnum  person.cardnum
cardnum.val_id
1                          5172            5172
2                          2354            2354
5                          2354            2354
3                          1410            1410
4                          1111            1111
8                          4412            4412

In [7]:
table4 = table3.infer(['person.cardnum'], 'person.person')
print(table4)

[cardnum.val_id || cardnum.cardnum person.cardnum person.person]
                cardnum.cardnum  person.cardnum person.person
cardnum.val_id
1.0                      5172.0            5172           NaN
2.0                      2354.0            2354         Steve
5.0                      2354.0            2354         Steve
3.0                      1410.0            1410           Tom
4.0                      1111.0            1111         Steve
8.0                      4412.0            4412           NaN
4 values hidden

In [8]:
table = table4.hide('person.cardnum').hide('cardnum.cardnum')
print(table)

[cardnum.val_id || person.person]
               person.person
cardnum.val_id
2.0                    Steve
5.0                    Steve
3.0                      Tom
4.0                    Steve
2 keys hidden
2 values hidden

In [9]:
table1 = s.get(['cardnum.val_id'])
print(table1)

[cardnum.val_id || ]
Empty DataFrame
Columns: []
Index: [1, 2, 3, 4, 5, 8]

In [11]:
table2 = table1.infer(['cardnum.val_id'], 'person.person')
print(table2)

[cardnum.val_id || person.person]
               person.person
cardnum.val_id
2.0                    Steve
3.0                      Tom
4.0                    Steve
5.0                    Steve
2 keys hidden
2 values hidden

In [12]:
table3 = table2.set_key(["person.person"])
print(table3)

[person.person || cardnum.val_id]
                cardnum.val_id
person.person
Steve          [2.0, 4.0, 5.0]
Tom                      [3.0]
3 keys hidden

{}

In [10]:
table = (s.get(['person.cardnum']).infer(['person.cardnum'], 'person.person'))
print(table)

[person.cardnum || person.person]
               person.person
person.cardnum
1111                   Steve
1410                     Tom
2354                   Steve
6440                   Harry
5467                    Dick

In [16]:
tbl1 = table.compose(['cardnum.val_id'], 'person.cardnum')
print(table1)

table2 = tbl1.set_key(["person.person"])

AssertionError:

In [ ]:
table1 = table

In [12]:
table = s.get(['person.person']).infer(['person.person'], 'person.cardnum')
print(table)

person.cardnum
[person.person || person.cardnum]
              person.cardnum
person.person
Steve           [1111, 2354]
Tom                   [1410]
Harry                 [6440]
Dick                  [5467]

In [ ]:
table1 = table.show('person.cardnum')
print(table1)
table2 = table1.hide('person.cardnum')
print(table2)

In [16]:
s = Schema()
cardnum = pd.read_csv("./csv/bonuses/cardnum.csv").set_index("val_id")
tstart = pd.read_csv("./csv/bonuses/tstart.csv").set_index("val_id")
s.insert_dataframe(cardnum, "cardnum")
s.insert_dataframe(tstart, "tstart")

c_cardnum = SchemaNode("cardnum", cluster="cardnum")
c_val_id = SchemaNode("val_id", cluster="cardnum")
t_val_id = SchemaNode("val_id", cluster="tstart")
t_tstart = SchemaNode("tstart", cluster="tstart")

s.blend(c_val_id, t_val_id, under="Val_id")

In [18]:
t1 = s.get(["tstart.val_id"]).infer(["tstart.val_id"], "tstart.tstart")
print(t1)

[tstart.val_id || tstart.tstart]
                     tstart.tstart
tstart.val_id
1              2023-01-01 09:50:00
2              2023-01-01 11:10:00
3              2023-01-01 15:32:00
4              2023-01-01 15:34:00
5              2023-01-01 20:11:00
6              2023-01-01 21:17:00
7              2023-01-02 05:34:00

In [19]:
t1 = s.get(["Val_id"]).infer(["Val_id"], "tstart.tstart")
print(t1)

[Val_id || tstart.tstart]
              tstart.tstart
Val_id
1       2023-01-01 09:50:00
2       2023-01-01 11:10:00
3       2023-01-01 15:32:00
4       2023-01-01 15:34:00
5       2023-01-01 20:11:00
6       2023-01-01 21:17:00
7       2023-01-02 05:34:00
1 keys hidden

In [8]:
s = Schema()

cardnum = pd.read_csv("./csv/bonuses/cardnum.csv").set_index("val_id")
tstart = pd.read_csv("./csv/bonuses/tstart.csv").set_index("val_id")
bonus = pd.read_csv("./csv/bonuses/bonus.csv").set_index(["val_id", "cardnum"])

s.insert_dataframe(cardnum, "cardnum")
s.insert_dataframe(tstart, "tstart")
s.insert_dataframe(bonus, "bonus")

c_cardnum = SchemaNode("cardnum", cluster="cardnum")
b_cardnum = SchemaNode("cardnum", cluster="bonus")
c_val_id = SchemaNode("val_id", cluster="cardnum")
t_val_id = SchemaNode("val_id", cluster="tstart")
b_val_id = SchemaNode("val_id", cluster="bonus")

s.blend(c_val_id, t_val_id, under ="Val_id")
s.blend(c_val_id, b_val_id)
s.blend(c_cardnum, b_cardnum, under ="Cardnum")

In [9]:
t1 = s.get(["cardnum.val_id"]).infer(["cardnum.val_id"], "cardnum.cardnum")
print(t1)

[cardnum.val_id || cardnum.cardnum]
                cardnum.cardnum
cardnum.val_id
1                          5172
2                          2354
3                          1410
4                          1111
5                          2354
8                          4412

In [10]:
t2 = t1.infer(["cardnum.val_id"], "bonus.bonus")
print(t2)

[cardnum.val_id || cardnum.cardnum bonus.bonus]
                cardnum.cardnum  bonus.bonus
cardnum.val_id
1                          5172  [4.0, 12.0]
2                          2354   [5.0, 7.0]
3                          1410        [1.0]
4                          1111           []
5                          2354        [2.0]
8                          4412           []

In [11]:
t3 = t2.set_key(["cardnum.val_id", "cardnum.cardnum"])
print(t3)

[cardnum.val_id cardnum.cardnum || bonus.bonus]
                                bonus.bonus
cardnum.val_id cardnum.cardnum
1              5172             [4.0, 12.0]
2              2354              [5.0, 7.0]
3              1410                   [1.0]
5              2354                   [2.0]
2 keys hidden

In [12]:
t4 = t3.show("bonus.cardnum")
print(t4)

[cardnum.val_id cardnum.cardnum bonus.cardnum || bonus.bonus]
                                              bonus.bonus
cardnum.val_id cardnum.cardnum bonus.cardnum
1              5172            5172.0                 4.0
                               1410.0                12.0
2              2354            1111.0                 5.0
                               6440.0                 7.0
3              1410            1111.0                 1.0
5              2354            1410.0                 2.0
2 keys hidden

In [18]:
t6 = t4.filter((t4["cardnum.cardnum"] == 2354) | (t4["bonus.cardnum"] == 1111))
t7 = t6.assign("bonuspo", t6["bonus.bonus"] + 1)

NodeAlreadyInSchemaGraphException: Node bonuspo is already in schema graph.

In [19]:
t8 = t6.assign("bonustimestwo", t6["bonus.bonus"] + t6["bonus.bonus"])
print(t8)

[cardnum.val_id cardnum.cardnum bonus.cardnum || bonus.bonus bonustimestwo]
                                              bonus.bonus  bonustimestwo
cardnum.val_id cardnum.cardnum bonus.cardnum
2              2354            1111.0                 5.0           10.0
                               6440.0                 7.0           14.0
3              1410            1111.0                 1.0            2.0
5              2354            1410.0                 2.0            4.0

In [20]:
t8 = t6.assign("bonusplusvalid", t6["bonus.bonus"] + t6["cardnum.val_id"])
print(t8)

[cardnum.val_id cardnum.cardnum bonus.cardnum || bonus.bonus bonusplusvalid]
                                              bonus.bonus  bonusplusvalid
cardnum.val_id cardnum.cardnum bonus.cardnum
2              2354            1111.0                 5.0             7.0
                               6440.0                 7.0             9.0
3              1410            1111.0                 1.0             4.0
5              2354            1410.0                 2.0             7.0

In [25]:
t5 = t4.equate("cardnum.cardnum", "bonus.cardnum")
print(t5)

[cardnum.val_id cardnum.cardnum || bonus.bonus]
                                bonus.bonus
cardnum.val_id cardnum.cardnum
1              5172                     4.0